@import url('https://fonts.google.com/css2?family=Inter:wght@400;700&subset=latin,greek&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    touch-action: auto;
  }

  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .customImg {
    background-image: url('/images/mainImage.png');
  }

  .chefImg {
    background-image: url('/images/mainImageOriginal.png');
  }

  .loginChef {
    background-image: url('/images/chef.png');
  }

  .loginLogo {
    background-image: url('/images/5.png');
  }
  th,
  td {
    /* border: 1px solid #3f4756; */
    background: hsl(0 0% 0% / 0.6);

    padding: 1rem;
  }

  tr:nth-of-type(2n + 1) {
    background: hsl(0 0% 0% / 0.1);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 18px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ed5b5b;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    border: 2px solid black;
  }

  .accordion-panel:has([aria-expanded='true']) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
  }
  .accordion-panel:has([aria-expanded='true']) section {
    transform: translateY(0);
    opacity: 1;
  }
  .accordion-panel:has([aria-expanded='true']) img {
    filter: brightness(0.5);
    transition: filter 500ms;
  }
}

/* Για να τοποθετήσω το accesibility κάτω αριστερά */
.editorim-sidebox-open {
  bottom: 16px !important;
  right: auto !important;
  top: auto !important;
  left: 16px !important;
  position: fixed !important;
}
